
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow:0

}
.container{
  border: 5px solid red;
  
}

.row{

  display: flex;
  
}

.column{

 border: 1px solid black ; 
 text-align: center;
 padding: 10px;
 flex: 1;
 
    
} 