body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  border: 5px solid red;
  width: 400px;
  height:400px;
}
.row{
  display: flex;
  flex-direction: column;
  width:100%;  
  
}

.column{
  border: 1px solid black;
  flex: 1;
}